@import "variables";

.canvas-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $toolbar-height * 2;
  height: calc(100vh - (#{$toolbar-height}));

  canvas {
    background: white;
    border: 2px dotted grey;
  }
}
